{{#partial "content"}}

    <form action="/heroes/new" method="post">
        <select class="form-select" aria-label="Default select example" id="department" name="department">
            <option selected><b>Select Squad</b></option>
            {{#each}}
                <option value="DigitalEngineering">Digital Engineering</option>
            {{/each}}
        </select><br>
        <label class="form-label rounded" for="hero-name"><b>Hero Name</b></label>
        <input type="text" name="hero-name" id="hero-name" class="form-control"/>
        <label class="form-label rounded-pill" for="hero-age"><b>Heroe's Age</b></label>
        <input type="text" name="hero-age" id="hero-age" class="form-control" />
        <select class="form-select" aria-label="Default select example" name="hero-powers">
            <option selected><b>Select Special Power</b></option>
            <option value="1">Money</option>
            <option value="2">Connection Resources</option>
            <option value="3">Physical Strength</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="hero-weakness">
            <option selected><b>Select Weakness</b></option>
            <option value="1">Enemies</option>
            <option value="2">Water</option>
            <option value="3">Fire</option>
        </select>
        <button type="submit" class="btn btn-default">Add new hero</button>
    </form>

{{/partial}}

{{> navbar.hbs}}