{{#partial "content"}}
   <h1>Successfully created</h1>
   {{#if response}}
    <p>Sorry kindly try another squad</p>
    <a href="/heroes/new">Return to choose another squad</a>
   {{else}}
   <p>Current hero: {{hero.hero_name}}</p>
   <p>Age:{{hero.hero_age}}</p>
   <p>Line of Support:   {{hero.heroScore}}</p>
   {{/if}}
{{/partial}}

{{> navbar.hbs}}